.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  background-color: #1e3e2c;
  justify-content: space-between;
  z-index: 10;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.store-name {
  height: 100%;
  width: 28%;
  display: flex;
  color: wheat;
  font-size: large;
  font-style: italic;
  justify-content: center;
}

.header-buttons {
  height: 100%;
  width: 21%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 4rem;
  align-items: center;
}

.icon-svg {
  margin-left: -2.3rem;
  margin-top: 3px;
}

.item-track {
  font-size: medium;
  background-color: #863e0a;
  padding: 4px;
  border-radius: 12px;
  width: 1.2rem;
  text-align: center;
}
